@model ContosoUniversity.Models.Author

@{
    ViewData["Title"] = "Delete";
}

<style>
    .color {
        font-size: 17px;
    }

        .color:hover {
            transition: 0.2s all linear;
            border-bottom: 3px solid black;
            padding: 10px;
            color: black;
        }

    a.color {
        transition: 0.2s all linear;
        border-bottom: 3px solid rgb(54 174 119);
        text-decoration: none;
        color: rgb(54 174 119);
        border-radius: 30px;
        padding: 5px;
        text-decoration: none;
    }
</style>

<h2 style="
        text-align: center;
        border: 3px solid rgb(54 174 119);
        border-radius: 30px;
        padding:10px;
        background:rgb(209 196 196);
        font-size:30px;">
    Удаление - Авторы
</h2>
<h3>Вы уверены, что хотите удалить Автора?</h3>
<div>
    <h4>Авторы</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="AuthorID" />
        <input type="submit" value="Удалить" class="btn btn-default" /> |
        <a class="color" asp-action="Index">Вернуться к полному списку</a>
    </form>
</div>
