@model PaginatedList<ContosoUniversity.Models.Author>

@{
    ViewData["Title"] = "Author";
}

<style>
    p.buttonBlock a {
        color: white;
        background: black;
        transition: 0.4s all linear;
        width: 20%;
        border-radius: 30px;
        cursor: pointer;
        text-decoration: none;
    }

        p.buttonBlock a:hover {
            color: aliceblue;
            transition: 0.2s all linear;
            background: rgb(54 174 119);
            color: white;
        }

    .color p {
        font-size: 17px;
    }

    .color a:hover {
        transition: 0.2s all linear;
        border-bottom: 3px solid black;
        padding: 10px;
        color: black;
    }

    .color a {
        transition: 0.2s all linear;
        border-bottom: 3px solid rgb(54 174 119);
        text-decoration: none;
        color: rgb(54 174 119);
        border-radius: 30px;
        padding: 5px;
    }

    a.blackBlock:hover {
        color: aliceblue;
        transition: 0.2s all linear;
        background: rgb(54 174 119);
        color: white;
    }


    a.blackBlock {
        padding: 10px;
        text-decoration: none;
        background-color: black;
        color: white;
        transition: 0.2s all linear;
    }

    th {
        text-align: center;
        background: black;
        color: white;
        transition: 0.2s all linear;
    }

    td {
        text-align: center;
        background: rgb(54 174 119);
        color: white;
        transition: 0.2s all linear;
    }

    form.blackBlock {
        padding: 10px;
        text-decoration: none;
        background-color: black;
        color: white;
        transition: 0.2s all linear;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    h2 {
        text-align: center;
        padding: 20px;
        font-size: 30px;
        background: rgb(54 174 119);
        width: auto;
        margin-top: 0;
        margin: 0 auto;
        margin-bottom: 20px;
        border-radius: 20px;
        color: white
    }

    .NewCreate {
        transition: 0.2s all linear;
        border-radius: 30px;
        padding: 10px;
        font-size: 18px;
        display: flex;
        justify-content: center;
        text-align: center;
        text-decoration: none;
    }
</style>


<h2>Авторы </h2>

<p class="buttonBlock">
    <a asp-action="Create" class="activation NewCreate">Создать Автора</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-action no-color color">
        <p>
            Найти по названию Автора:<input type="text" style="border-radius:10px; outline:none; align-items:center;" name="searchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Найти" style="border-radius:10px; font-size:16px;" class="btn btn-success" />
            <a asp-action="Index">Вернуться к полному списку</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a class="blackBlock" asp-action="Index" asp-route-sortOrder="@ViewData["SurnameSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Фамилия</a>
            </th>
            <th>
                <a class="blackBlock" asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Имя</a>
            </th>
            <th>
                <a class="blackBlock" asp-action="Index" asp-route-sortOrder="@ViewData["MiddleNameSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Отчество</a>
            </th>
            <th>
                <a class="blackBlock"> ← Сортировка</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr style="border-top: 5px solid #ddd">
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiddleName)
            </td>
            <td>
                <a class="blackBlock" asp-action="Edit" asp-route-id="@item.AuthorID">Изменить <img style="width:25px;" src="https://img.icons8.com/dusk/64/000000/change.png" /></a>
                <a class="blackBlock" asp-action="Details" asp-route-id="@item.AuthorID">Детали <img style="width:25px;" src="https://img.icons8.com/dusk/64/000000/details-pane.png" /></a>
                <a class="blackBlock" asp-action="Delete" asp-route-id="@item.AuthorID">Удалить <img style="width:20px;" src="https://img.icons8.com/flat-round/64/000000/delete-sign.png" /></a>
            </td>
        </tr>
        }
    </tbody>
</table>
@{ var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : ""; }

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex-1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="blackBlock btn btn-default @prevDisabled">
    Предыдущая страница
</a>

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex+1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="blackBlock btn btn-default @nextDisabled">
    Следующая страница
</a>